[submodule "wenzel_tobias_arabiccorpus"]
  path = wenzel_tobias/arabicCorpus
  url = git@github.com:Islamicate-DH/arabicCorpus.git
[submodule "corpora/arabicCorpus"]
	path = corpora/arabicCorpus
	url = git@github.com:Islamicate-DH/arabicCorpus.git
[submodule "corpora/altafsir_com"]
	path = corpora/altafsir_com
	url = git@github.com:sixtyfive/altafsir_com.git
[submodule "corpora/altafsir_com_corpus"]
	path = corpora/altafsir_com_corpus
	url = git@github.com:sixtyfive/altafsir_com_corpus.git
[submodule "corpora/newspaper_archive"]
	path = corpora/newspaper_archive
	url = git@github.com:tobiasw225/newspaper_archive.git 
[submodule "newspaper_archive"]
	path = newspaper_archive
	url = https://github.com/tobiasw225/newspaper_archive.git
