[submodule "wenzel_tobias_arabiccorpus"]
  path = wenzel_tobias/arabicCorpus
  url = git@github.com:Islamicate-DH/arabicCorpus.git
[submodule "corpora/arabicCorpus"]
	path = corpora/arabicCorpus
	url = git@github.com:Islamicate-DH/arabicCorpus.git
[submodule "corpora/altafsir_com"]
	path = corpora/altafsir_com
	url = git@github.com:sixtyfive/altafsir_com.git
	branch = master
[submodule "corpora/altafsir_com_corpus"]
	path = corpora/altafsir_com_corpus
	url = git@github.com:sixtyfive/altafsir_com_corpus.git
	branch = master
[submodule "corpora/the_quran_by_aaya"]
	path = corpora/the_quran_by_aaya
	url = git@github.com:sixtyfive/the_quran_by_aaya.git
	branch = master
